body {
    background: #242121;
    color: white;
    padding-bottom: 1000px;
    font-size: 40px ;
}


.block {
    position: fixed;
    left: 50vw;
    right: 50px;
    bottom: 100px;
}

.block_white {
    background: white;
    height: 100px;
    width: auto;
    position: relative;
    border-radius: 10px;

}

.block_red {
    position: absolute;
    padding: 50px;
    border-radius: 100px;
    background: #f70606;
    bottom: 50%;
    left: 10%;
}